#head{
    text-align: center;
    margin-top: 3rem;
    font-weight: bolder;
    font-size: 20px;
}
#pdetails{
    margin-top: 3rem;
}
#pdetails h3{
    margin-left: 3rem;
}
#dotted {
    border:0;
    border-bottom: 2px dotted;
    width: 750px;
    margin-bottom: 1rem;

}
#page{
background-color: white;
}
#fields{
display: flex;
align-items: center;
justify-content: center;
}
#fields2{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    #fields2 h4{
        margin-top: 10px;
        margin-right: 10px;
    
        }
#fields h4{
    margin-top: 10px;
    margin-right: 10px;

    }
#control{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#control input{
    margin-right:3px ;
}
#icontrol1{
    margin: 20px;
}
#pdetails h3{
display: flex;
align-items: center;
justify-content: center;
font-size: 18px;
font-weight: bolder;
margin-right:40px ;
}
#fields1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#fields2{
    display: flex;
}
#fields2 input{
    width: 80px;
}
#head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page{
    border-radius: 50px;
    width: 1200px;
}
#outerpage{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 872px) {
    #dotted {
        border:0;
        border-bottom: 2px dotted;
        width: 340px;
        margin-bottom: 1rem;

    }
    #fields{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        }
        #fields1{
            flex-direction: column;
        }
  }
  @media screen and (width: 912px) {
    #dotted {
        border:0;
        border-bottom: 2px dotted;
        width: 470px;
        margin-bottom: 1rem;

    }
}
#btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;

    
}
#btn button{
    border: none;
    padding: 30px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
}